body {
    font-family: 'Roboto', sans-serif;
    background: #f1f1f1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: 2px;
    font-size: 58px;
    color: #2c3e50;
    text-align: center;
}

.input-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
    width: 100%;
    max-width:300px;
    flex-wrap: wrap;
}

.input-group label {
    flex: 1;
    text-align: right;
    font-size: 18px;
    margin-right: 10px;
}

.input-group input {
    flex: 0 0 80px;
    padding: 8px;
    font-size: 16px;
    width: 80px;
}

.buttons {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.buttons button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
}

.start-btn { background-color: #27ae60; }
.pause-btn { background-color: #e67e22; }
.reset-btn { background-color: #c0392b; }

.start-btn:hover { background-color: #219150; }
.pause-btn:hover { background-color: #cf711a; }
.reset-btn:hover { background-color: #a8322b; }

#status {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.progress-container {
    width: 90%;
    height: 24px;
    background: #ccc;
    border-radius: 12px;
    overflow: hidden;
    margin-top: 20px;
}

.progress-bar {
    height: 100%;
    width: 0%;
    background: green;
    transition: width 0.5s, background-color 0.5s;
}

#message {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

#motivationGif {
    margin-top: 10px;
    max-width: 90%;
    border-radius: 12px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#confetti-container {
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 999;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    opacity: 0.8;
    animation: fall linear infinite;
    transform: rotate(0deg);
}

@keyframes fall {
    0% { transform: translateY(-10%) rotate(0deg); }
    100% { transform: translateY(110vh) rotate(360deg); }
}

@media only screen and (max-width: 480px) {
    body {
        font-size: 18px;
    }

    h1 {
    font-size: 10vw;
    }

    .input-group label {
    font-size: 5vw;
    }

    .input-group input {
    font-size: 5vw;
    width: 30vw;
    }

    .buttons button {
    font-size: 5vw;
    padding: 3vw 5vw;
    }

    #status, #message {
    font-size: 5vw;
    }

    #motivationGif {
    max-width: 80vw;
    }
}

.input-box, .button-box {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 16px;
  margin: 20px 0;
  background: #fff;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}